/* static/css/styles.css */

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

form {
  margin-top: 20px;
  text-align: left;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  outline: none;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  border-color: #007BFF;
}

button {
  display: inline-block;
  padding: 14px 20px;
  margin-top: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}
.helptext {
  display: none;
}

button:hover {
  background-color: #449cfa;
}

.errorlist li {
  color: #ef4444 !important;
}

a {
  text-decoration: none;
  color: #007BFF;
  margin: 0 10px;
  font-weight: bold;
}