<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vehicle List</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #f1f1f1;
      }
    </style>
  </head>
  <body>
    <h1>Vehicles</h1>
    <a href="{% url 'create-vehicle' %}">Add New Vehicle</a>
    <table>
      <thead>
        <tr>
          <th>Number Plate</th>
          <th>Model</th>
          <th>Capacity</th>
          <th>Driver</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if vehicles %} {% if vehicles|length == 0 %}
        <tr>
          <td colspan="6">No vehicles found</td>
        </tr>
        {% else %} {% for vehicle in vehicles %}
        <tr>
          <td>{{ vehicle.license_plate }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.capacity }}</td>
          <td>
            {% if vehicle.driver_set.all %} {% for driver in vehicle.driver_set.all %}
            <a href="{% url 'view-driver' driver.id %}">{{ driver.name }}</a>{% if not forloop.last %}, {% endif %} {% endfor %} {% else %} No Driver Assigned
            <a href="{% url 'assign-driver-to-vehicle' vehicle.id %}" class="btn-assign">Assign Driver</a>
            {% endif %}
          </td>

          <td>
            <a href="{% url 'view-vehicle' vehicle.id %}">View</a> | <a href="{% url 'update-vehicle' vehicle.id %}">Edit</a> |
            <form action="{% url 'delete-vehicle' vehicle.id %}" method="post" style="display: inline">
              {% csrf_token %}
              <input type="submit" value="Delete" style="background: none; border: none; color: red; cursor: pointer" />
            </form>
          </td>
        </tr>
        {% endfor %} {% endif %} {% else %}
        <tr>
          <td colspan="6">No vehicles found</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </body>
</html>
