{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}TMS | Transport Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="w-full flex h-screen">
      <aside class="h-screen w-1/5 bg-white p-4 flex flex-col justify-between rounded-r-3xl">
        <div>
          <h1 class="text-blue-600 text-2xl">TMS</h1>
          <nav class="mt-10 w-full">
            <p class="text-gray-400 px-3">Management portal</p>
            <div class="space-y-3 mt-3">
              <a
                href="{% url 'driver-list' %}"
                class="block text-blue-600 w-full py-3 px-6 rounded-full cursor-pointer border border-gray-200 hover:border-blue-600 hover:bg-blue-600 hover:text-white transition-all duration-300 flex justify-between">
                <span> Drivers </span>
                <span> &rarr; </span></a
              >
              <a
                href="{% url 'vehicle-list' %}"
                class="block text-blue-600 w-full py-3 px-6 rounded-full cursor-pointer border border-gray-200 hover:border-blue-600 hover:bg-blue-600 hover:text-white transition-all duration-300 flex justify-between">
                <span> Vehicles </span>
                <span> &rarr; </span></a
              >
              <a
                href="#"
                class="block text-blue-600 w-full py-3 px-6 rounded-full cursor-pointer border border-gray-200 hover:border-blue-600 hover:bg-blue-600 hover:text-white transition-all duration-300 flex justify-between">
                <span> Routes & Trips </span>
                <span> &rarr; </span></a
              >
              <a
                href="#"
                class="block text-blue-600 w-full py-3 px-6 rounded-full cursor-pointer border border-gray-200 hover:border-blue-600 hover:bg-blue-600 hover:text-white transition-all duration-300 flex justify-between">
                <span> Reporting & Analytics </span>
                <span> &rarr; </span></a
              >
            </div>
          </nav>
        </div>
        <div class="mt-auto">
          <a
            href="#"
            class="block text-blue-600 w-full py-3 px-6 rounded-full cursor-pointer border border-gray-200 hover:border-blue-600 hover:bg-blue-600 hover:text-white transition-all duration-300 flex justify-between">
            <span> Help and Support </span>
            <span> &rarr; </span>
          </a>
        </div>
      </aside>
      <main class="flex-1 flex-grow m-4 p-4 flex flex-col bg-white rounded-3xl">
        <div class="flex-1 h-full rounded-3xl overflow-y-scroll">{% block content %} {% endblock %}</div>
      </main>
    </div>
  </body>
</html>
