{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TMS | Registration</title>
    <link rel="stylesheet" href="{% static 'css/authstyles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>TMS | Register</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
      <p>Already have an account<a href="{% url "login" %}">Login</a></p>
    </div>
  </body>
</html>
