{% extends "layout.html" %} {% block title %}TMS | Driver Details{% endblock %} {% block content %}
<div class="max-w-lg mx-auto bg-white p-8 rounded-xl border border-gray-100 mt-10 space-y-4">
  <h1 class="text-2xl font-semibold text-blue-600 mb-6 text-center">Driver Details</h1>
  <div class="border border-gray-200 p-5 rounded-2xl space-y-3">
    <p><strong>Name:</strong> {{ driver.name }}</p>
    <p><strong>License Number:</strong> {{ driver.license_number }}</p>
  </div>
  <div class="border border-gray-200 p-5 rounded-2xl space-y-3">
    <h2 class="text-xl font-semibold text-blue-600">Assigned Vehicle</h2>
    {% if driver.vehicle %}
    <div class="space-y-2">
      <p><strong>License Plate:</strong> {{ driver.vehicle.license_plate }}</p>
      <p><strong>Model:</strong> {{ driver.vehicle.model }}</p>
      <a href="{% url 'view-vehicle' driver.vehicle.id %}" class="block text-blue-500">View Vehicle</a>
    </div>
    {% else %}
    <p class="text-gray-500 mt-4">No vehicle assigned to this driver.</p>
    {% endif %}
    <a
      href="{% url 'assign-vehicle-to-driver' driver.id %}"
      class="w-full block text-center py-2.5 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-400 transition-all duration-300">
      Assign Vehicle
    </a>
  </div>
  <div class="mt-6 flex justify-center items-center gap-2">
    <a href="{% url 'update-driver' driver.id %}" class="btn edit-btn"> Update Driver details </a>
    <a href="{% url 'delete-driver' driver.id %}" class="btn delete-btn"> Delete Driver </a>
  </div>
  <a href="{% url 'driver-list' %}" class="mt-10 block text-blue-500 hover:underline"> Back to Driver List </a>
</div>
{% endblock %}
