{% extends "layout.html" %} {% block title %}TMS | Manage Vehicles{% endblock %} {% block content %}

<div class="container mx-auto p-4">
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold mb-4">Vehicles</h1>
    <a href="{% url 'create-vehicle' %}" class="bg-blue-500 text-white px-4 py-2 rounded">Add New Vehicle</a>
  </div>
  <table class="min-w-full bg-white mt-4">
    <thead>
      <tr>
        <th>Number Plate</th>
        <th>Category</th>
        <th>Model</th>
        <th>Capacity</th>
        <th>Driver</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if vehicles %} {% if vehicles|length == 0 %}
      <tr>
        <td colspan="5" class="text-center py-2">No vehicles found</td>
      </tr>
      {% else %} {% for vehicle in vehicles %}
      <tr>
        <td>{{ vehicle.license_plate }}</td>
        <td>{{ vehicle.category }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.capacity }}</td>
        <td>
          <div class="flex justify-between">
            {% if vehicle.driver_set.all %} {% for driver in vehicle.driver_set.all %}
            <a href="{% url 'view-driver' driver.id %}">{{ driver.name }}</a>{% if not forloop.last %}, {% endif %} {% endfor %} {% else %} No Driver Assigned
            <a href="{% url 'assign-driver-to-vehicle' vehicle.id %}" class="bg-blue-500 text-white py-1 px-3 rounded">Assign Driver</a>
            {% endif %}
          </div>
        </td>
        <td>
          <a href="{% url 'view-vehicle' vehicle.id %}" class="btn view-btn">View</a>
          <a href="{% url 'update-vehicle' vehicle.id %}" class="btn edit-btn">Edit</a>
          <form action="{% url 'delete-vehicle' vehicle.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn delete-btn" />
          </form>
        </td>
      </tr>
      {% endfor %} {% endif %} {% else %}
      <tr>
        <td colspan="5" class="text-center py-2">No vehicles found</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
