{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TMS | Transport Management System</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
  </head>
  <body>
    <h1>Welcome to the Transport Management System (TMS)</h1>
    <p>
      The Transport Management System is designed to streamline the management of vehicles and drivers for various transportation services. Our goal is to
      enhance operational efficiency, improve safety, and provide an exceptional experience for both operators and users.
    </p>
    <nav>
      <a href="{% url 'vehicle-list' %}">Manage Vehicles</a> |
      <a href="{% url 'driver-list' %}">Manage Drivers</a>
    </nav>
  </body>
</html>
