{% extends "layout.html" %} 
{% block title %}TMS | Assign Vehicle{% endblock %} 
{% block content %}
<div class="max-w-lg mx-auto bg-white p-10 rounded-xl border border-gray-100 mt-10">
  <h1 class="text-2xl font-semibold text-blue-600 mb-6 text-center">Assign Vehicle to {{ driver.name }}</h1>
  <form method="post" class="space-y-4 form-container">
    {% csrf_token %}
    <div class="space-y-2">{{ form.as_p }}</div>
    <button type="submit" class="w-full py-3 bg-blue-500 text-white font-bold rounded-lg hover:bg-blue-400 transition-all duration-300">Assign</button>
  </form>
  <a href="{% url 'driver-list' %}" class="block text-center text-blue-500 mt-6 hover:underline"> Back to Drivers </a>
</div>
{% endblock %}
